bin/
out/
*.idea
*.iml
*.class

.DS_Store
build/
.gradle
.scannerwork

JSON_input/TestCases/100_tasks*
JSON_input/TestCases/500_tasks*
JSON_input/TestCases/1000_tasks*
JSON_input/TestCases/5000_tasks*
JSON_input/TestCases/generated_test.json
