.axis text {
    font: 10px sans-serif;
}
.chartTitle {
    font-size: 12px;
    font-weight: bold;
    text-anchor: middle;
}
.axis .title {
    font-weight: bold;
    text-anchor: middle;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.nav .area {
    fill: lightgrey;
    stroke-width: 0px;
}
.nav .line {
    fill: none;
    stroke: darkgrey;
    stroke-width: 1px;
}
.viewport {
    stroke: grey;
    fill: black;
    fill-opacity: 0.3;
}
.viewport .extent {
    fill: green;
}
.well {
    padding-top: 0px;
    padding-bottom: 0px;
}