body {
    background: #000;
    margin: 0;
    padding: 0;
    font: 10px sans-serif;
}

text {
    fill: #fff;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.axis path {
    stroke: #aaa;
}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 2px;
}

.data {
    stroke: #fff;
    stroke-width: 2px;
}

.average-50 {
    stroke: #0ff;
}

.average-25 {
    stroke: #ff0;
}